@model IEnumerable<Chat>
@{
    ViewData["Title"] = "Home Page";
}


<div class="chat-body">
    @foreach (var chat in Model)
    {
        <a class="room-button" asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Name
        </a>
    }
</div>
